CMakeFiles/
CMakeCache.txt
*.a
*.o
*.so
Makefile
.project
.idea/
.cproject
*~
*.settings*
*/doc/html/
Doxyfile
*.orig
*.tag
*.tmp
*.swp
__pycache__
*.pyc
*.pydevproject
*.aux
*.log
*.out
*.synctex.gz
.vscode/
runs/
